// Barre Edit
.edit-mode {
  background-color: $blck-color;
  height: 50px;
  color: $wht-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  & img {
    padding-right: 10px;
    margin-bottom: -3px;
  }
}

// Bouton Modifier
#portfolio {
  .edit-app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 25px;
      cursor: pointer;

      img {
        margin-right: 5px;
      }
    }
  }
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;

    &.active {
      display: flex;
      opacity: 1;
    }
  
    &__content {
      background-color: $wht-color;
      padding: 20px;
      border-radius: 10px;
      width: 630px;
      height: 688px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .close-btn {
        @include position-btns-modale;
        right: 20px;
      }

      .prev-btn {
        @include position-btns-modale;
        left: 20px;
      }
  }

  .add-photo-btn, .submit-add-photo-btn {
    cursor: pointer;
    @include main-btn-green;

    &:hover {
      @include main-btn-green-hover;
    }
}
  
    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(77px, 1fr));   grid-template-rows: repeat(auto-fill, minmax(102px, 1fr));
        gap: 30px 10px;
        padding: 10px;
        height: 430px;
        width: 80%;
        overflow-y: auto;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        figcaption {
            display: none;
        }

        .delete-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparent;
            cursor: pointer;

            & img {
              height: 17px;
              width: 17px;
            }

        }
    }
  }

// Modale 2 Ajout de Nouveaux Projets
#photo-add-form {
  width: 70% !important;
  height: 70%;

  .file-upload-container {
    background-color: $background-modal;
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    label {
      font-family: $font-main;
      font-size: 16px;
      color: $tertiary-color;
      background-color: $background-btn-modal;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
      display: inline-block;
    }

    input[type="file"] {
      display: none;
    }

    p {
      font-family: "Work Sans";
      font-size: 10px;
      color: $tertiary-color;
    }
  }
}

  
