// Variables
$font-main: 'Work Sans';
$font-secondary: 'Syne';

$wht-color: #ffffff;
$blck-color: #000000; 
$primary-color: #B1663C;
$secondary-color: #1D6154;
$tertiary-color: #306685;

$background-color: #FDFFF5;
$background-modal: #E8F1F6;
$background-btn-modal: #CBD6DC;

$max-width: 1140px;

@mixin main-btn-green{
    font-family: $font-secondary;
    font-size: 14px;
    color: $wht-color;
    background-color: $secondary-color;
    margin: 30px auto;
    border-radius: 60px;
    width: 180px;
    height: 35px;
}

@mixin main-btn-green-hover{
    background-color: darken($secondary-color, 10%);
}

@mixin position-btns-modale{
    position: absolute;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}