@import './variables';
@import './login';
@import './modal';

// Reset CSS
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  @extend *;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: $background-color;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Main Styles
body {
  max-width: $max-width;
  margin: auto;
  font-family: $font-main;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 800;
  color: $primary-color;

  span {
    font-family: $font-main;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin-top: 5px;
  }
}

h2 {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 30px;
  color: $secondary-color;
}

h3 {
  font-family: $font-main;
  color: $blck-color;
  font-size: 26px;
  font-weight: 400;
  margin-top: 30px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.150);
  width: 77%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
        font-weight: bolder;
      }
  }

  
  & img {
    width: 19px;
    &:hover {
      scale: 1.3;
    }
  }
}

// Introduction Section
#introduction {
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 30px;
  
  figure {
    flex: 1;
  }

  img {
    display: block;
    width: 474px;
  }

  article {
    flex: 1;
  }

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 15px;
  }
}

// Portfolio Section
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#filters {
    text-align: center;
    margin-top: 2em;
  
    .filter-group {
      display: inline-flex;
      gap: 10px;
    }
  
    .filter-btn {
        font-family: $font-secondary;
        padding: 8px 15px;
        border: 1px solid $secondary-color;
        border-radius: 30px;
        background-color: transparent;
        color: $secondary-color;
        cursor: pointer;
        font-size: 1.1em;
        transition: background-color 0.3s ease, color 0.3s ease;
  
        &.active {
            background-color: $secondary-color;
            color: $wht-color;
        }
  
        &:hover {
        background-color: $secondary-color;
        color: $wht-color;
        }
    }
}
  
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 0 50px;


  img {
    width: 100%;
    cursor: pointer;
  }
  figcaption {
    font-size: 13px;
    margin-top: 5px;
  }
}

// Contact Section
#contact,#login-form {
  width: 50%;
  margin: auto;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }

  label {
    margin: 2em 0 1em;
  }

  textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }

  input[type="submit"] {
    @include main-btn-green;

    &:hover {
      @include main-btn-green-hover;
    }
  }
  a {
    color: black;
  }
}

// Footer
footer {
  width: 100vw;
  background-color: $wht-color;
  height: 50px;
  box-sizing: border-box;
  margin-left: calc(-50vw + 50%);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & li {
    font-size: 14px;
    padding-right: 60px;
  }
}

